@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
  }
}
@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

.animate-gradient {
  animation: gradient 4s linear infinite;
}

::-webkit-scrollbar {
  width: 0;
}
